html, body {
    margin: 15px;
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
}
#navbar {
    list-style-type: none;
    padding: 0;
}

#navbar li {
    display: inline;
    padding: 5px;
}
a {
    color: red;
}

a:hover {
    color: darkred;
}

.LINKTEST {
    color: rgb(255, 255, 255);
    transition: 0.3s ease color, 0.3s ease font-size;
}

.LINKTEST:hover {
    color: rgb(100, 100, 100);
    font-size: small;
}

#container {
    width: 750px;
    margin: auto;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
}

#funnysitetext {
    font-size: larger;
    text-align: center;
    margin-bottom: 15px;
}

hr {
    border: 1px solid white;
}

#profile {
    text-align: center;
}

#theperson {
    width: 750px;
    margin: auto;
    padding: 30px;
}

#theperson a {
    color: grey;
}

#theperson marquee {
    color: grey;
    font-size: smaller;
}

.MultipleLinks {
    margin: 20px 0px;
}